[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
shap = "*"
pyarrow = "*"
matplotlib = "*"
seaborn = "*"
streamlit = "*"

[dev-packages]
pip = "*"
install = "*"
pylint = "*"
autopep8 = "*"
ipykernel = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
